---
layout: default
---
<div class="well">
<ol>
{% for resume in site.resumes %}
  <li><a href="#{{ resume.title }}">{{ resume.title | capitalize }}</a></li>
{% endfor %}
</ol>
</div>
{% for resume in site.resumes %}
  <div class="well" id="{{resume.title}}">
    {{ resume.content }}
  </div>
{% endfor %}
<div class="projects">
  {% for experience in site.experiences %}
    <div class="project-item col-md-12 col-sm-12 col-xs-12 well">
      {{ experience.content }}
    </div>
  {% endfor %}
</div>
